@import "tailwindcss";

:root{
  --bg:#0B0F19;
  --primary:#00E5FF;
  --secondary:#7C3AED;
  --card:#111827;
  --text:#E5E7EB;
  --muted:#9CA3AF;
}

body{
  background:var(--bg);
  color:var(--text);
  font-family:system-ui, sans-serif;
}